@import '../../../styles/variables';

.Logo {
    padding: 8px;
    cursor: pointer;
    font-family: $font-family;
    font-size:24px;

    img {
        height: 100%;
    }
}

.Logo 

.FirstPart {
    color: $primary-color-light;
    font-weight: 200;
}

.SecondPart {
    color: $primary-color-light;
    font-weight: bold;
}
