@import "../../../styles/variables";

.Logo {
  padding: 8px;
  cursor: pointer;
  font-family: $primary-font;
  a {
    color: inherit;
    font-size: inherit;
  }
  img {
    height: 100%;
  }
}
.logo-default {
  color: $primary-color-light;
  font-size: 24px;
}
.logo-white {
  color: white;
  font-size: 22px;
}
.FirstPart {
  color: inherit;
  font-size: inherit;
  font-weight: 200;
}

.SecondPart {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
}
