@import "../../../styles/variables";

.summary-card {
  .card-header {
    color: $primary-color;
    height: 50px;
    display: flex;

    .card-header-title {
      align-self: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: $secondary-font;
      font-size: 10px;
      font-weight: 600;
      height: 14px;
      text-align: center;
      margin-left: $pixel-base * 2;
    }

    .card-header-icon {
      height: 21px;
      width: 21px;
    }
  }

  .card-body {
    background: $white-three;
    padding: $pixel-base * 3;
    font-family: $secondary-font;
    min-height: 82px;
    border-bottom: 1px solid $pale-grey;

    .card-body-content {
      font-size: 24px;
      font-weight: 300;
      color: $secondary-color;
    }

    .card-body-description {
      font-size: 10px;
      color: $secondary-color-lighter;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  @media #{$md-screen} {
    .card-body {
      padding: $pixel-base * 2;

      .card-body-content {
        font-size: 18px;
      }
    }
  }
  @media #{$xs-screen} {
    .card-body {
      padding: $pixel-base * 2;

      .card-body-content {
        font-size: 24px;
      }
    }
  }
}

.-main-cards {
  .card-header {
    .card-header-title {
      align-self: center;
      letter-spacing: normal;
      text-transform: capitalize;
      font-family: $primary-font;
      color: $secondary-color;
      font-size: 17px;
      font-weight: 500;
      height: unset;
      text-align: left;
      margin-left: $pixel-base * 2;
    }
  }
}
