@import "../../../styles/variables";

.summary-card {
  .card-header {
    color: $primary-color;
    height: 50px;
    display: flex;
    .card-header-title {
      align-self: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-family: $secondary-font;
      font-size: 10px;
      font-weight: 600;
      height: 14px;
      text-align: center;
      margin-left: $pixel-base * 2;
    }
    .card-header-icon{
        height: 21px;
        width: 21px;
    }
  }
  .card-body {
    background: $white-three;
    padding: $pixel-base * 3;
    font-family: $secondary-font;
    min-height: 82px;
    border-bottom: 1px solid $pale-grey;
    .card-body-content {
      font-size: 24px;
      font-weight: 300;
      color: $secondary-color;
    }
    .card-body-description {
      font-size: 10px;
      color: $secondary-color-lighter;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  


  @media #{$md-scren} {
    .card-body {
      padding: $pixel-base * 2;
      .card-body-content {
        font-size: 18px;
      }
    }
  }
  @media #{$xs-scren} {
    .card-body {
      padding: $pixel-base * 2;
      .card-body-content {
        font-size: 24px;
      }
    }
  }
}
