@import "../../../styles/variables";

.support {
  text-align: center;
  background-color: $secondary-color-light;
  height: 141px;

  .content{
    padding: 15px;
  }

  .text {
    color: $white;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 600;
  }

  .text-box {
    color: $primary-color;
    min-height: 23px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 11.5px;
    border: solid 1px $primary-color;
    text-transform: uppercase;
    padding: 2px 7px 2px 7px;
    float: none;
    margin: 0 auto;
  }
}
