@import "../../../styles/variables";

.support {
  text-align: center;
  background-color: $primary-color;
  height: 141px;

  .content{
    padding: 15px;
  }

  .text {
    color: $white;
  }

  .text-box {
    background: $white;
    color: $primary-color-light;
    font-size: 14px;
    font-weight: 600;
    border-radius: 11.5px;
    text-transform: uppercase;
    padding: 2px 7px 2px 7px;
    float: none;
    margin: 0 auto;
  }
}
