@import '../../../styles/variables';


.main-navigation {
    background: $background-color;
    padding-top: 0;
    padding-bottom: 0;
    
    .navbar-nav {
        margin: 0;

        .nav-item{
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;

            a {
                color: $primary-font-color;
            }

            a:hover, a:active, a:focus {
                color:$primary-font-color;
                background: rgba(155, 155, 155, 0.11);
            }
        }
        .active {
            .nav-link{
                color: $sub-navigation-font-action;
                background: rgba(155, 155, 155, 0.11);
            }
        }

        .border-left {
            border-right: 1px solid black;
        }
        
    }

    .navbar-toggler-icon{
        background: black;
        
    }
}