@import "../../../styles/variables";

.main-navigation {
  background: $white;
  padding: 0 $pixel-base * 5;

  .navbar-nav {
    margin: 0;

    .nav-item {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 $pixel-base * 3 0 $pixel-base * 3;
      .auth-nav-text {
        color: $secondary-color;
      }
      a {
        color: $primary-color-light;
      }
      .is-active {
        font-weight: bold;
        background: rgba(155, 155, 155, 0.11);

      }
    }

    .profile-nav-container {
      font-size: 18;
      font-weight: 500;
      text-transform: capitalize;
      padding: 0 $pixel-base * 3 0 $pixel-base * 3;
      .auth-nav-text {
        color: $secondary-color;
      }
      a {
        color: $charcoal-grey-two;
      }
    }
    .profile-nav-avatar {
      width: 30px;
      height: 30px;
      img {
        height: 100%;
        widows: 100%;
        border-radius: 15px;
      }
    }

    @media #{$lg-scren} {
      .nav-item {
        padding: 0 $pixel-base * 2.5 0 $pixel-base * 2.5;
      }
    }
    @media #{$md-scren} {
      .nav-item {
        padding: 0 $pixel-base 0 $pixel-base;
      }
    }
    @media #{$smd-scren} {
      .nav-item {
        padding: 0;
        font-size: 15px;
      }
    }

    .border-left {
      border-right: 1px solid black;
    }
  }

  .navbar-toggler-icon {
    background: black;
  }
}
