@import "../../../styles/variables";

.CustomSections {
  padding-top: 35px;
  
  .CustomSection {
    margin-bottom: 40px;

    h3 {
      color: $primary-color;
      font-family: $secondary-font;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      margin: 0 20px 20px 0;
    }

    h4 {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.44;
      margin: 0 0 35px;
    }

    p {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 16px;
      line-height: 1.25;
      margin: 0 20px 20px 0;

      &.-highlight {
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #d0021b;
      }
    }

    a {
      display: block;
      padding-top: 60px;
    }

    .-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 20px 20px 0;
    }

    &.col-md-12 {
      h4 {
        padding-top: 25px;
        margin-bottom: 15px;
      }
    }
  }

  .subtitle {
    margin: 14px 0 0;
    display: block;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  a {
    font-family: $primary-font;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $third-color;
    text-decoration: underline;
  }
}