@import "../../../styles/variables";

.CustomSections {
  padding-top: 35px;
  
  .CustomSection {
    margin-bottom: 40px;

    h3 {
      color: $primary-color;
      font-family: $secondary-font;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      margin: 0 20px 20px 0;
    }

    h4 {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.44;
      margin: 0 0 35px;
    }

    p {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 16px;
      line-height: 1.25;
      margin: 0 20px 20px 0;
    }

    .-image {
      background-position: center;
      background-size: cover;
      margin: 0 20px 20px 0;
    }
  }
}