@import "../../../styles/variables";

.ProfileSettings {
  padding-top: $pixel-base * 6;
  padding-bottom: $pixel-base * 4;

  .settings-content {
    .ProfileAccount,
    .ProfileEntity,
    .ProfileSecurity {
      margin-top: $pixel-base * 21;

      @media #{$xs-screen} {
        margin-top: $pixel-base * 5;
      }
    }

    .ProfilePreferences {
      margin-top: $pixel-base * 14;

      @media #{$xs-screen} {
        margin-top: $pixel-base * 5;
      }
    }

    .ProfileUsers {
      margin-top: $pixel-base * 5;
    }
  }
}
