@import "../../../styles/variables";

.SingleProject {
  .project-main-image {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .project-main-display-image {
    height: 100%;
  }
  .project-main-choose-image {
    height: 45x;
    div {
      padding: 2px 5px 2px 5px;
      width: 200px;
      img {
        cursor: pointer;
      }
      img:hover {
        opacity: 0.7;
      }
    }
  }
}
