@import "../../../styles/variables";

.LinkContainer {
  img {
    display: block;
    margin: 0 auto $pixel-base * 1.5;
  }
  button {
    border: none;
    cursor: pointer;
    background: transparent;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: $secondary-color;
  }
}