@import "../../../styles/variables";

.anchor-navbar {
  margin-top: $pixel-base * 6;
  background: #f6f7f7;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar-nav {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .nav-item {
      padding: $pixel-base $pixel-base * 2 $pixel-base $pixel-base * 2;
      font-weight: 600;
      font-size: 20px;
      text-transform: capitalize;

      a {
        color: $secondary-color;
      }

      a:hover {
        color: $sub-navigation-font-action;
        border-bottom: 3px solid $primary-color-light;
        box-sizing: border-box;
      }
    }
    .active-nav-item {
      color: $sub-navigation-font-action;
      border-bottom: 3px solid $primary-color-light;
      box-sizing: border-box;
    }
  }
}
