@import "../../../styles/variables";

.anchor-navbar {
  margin-top: $pixel-base * 6;
  background: #f6f7f7;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  min-height: 68px;

  .anchor-cont {
    height: inherit;
  }
  .anchor-row {
    width: 100%;
    height: inherit;
    .navbar-collapse {
      height: inherit;
    }
  }
  .anchor-nav-link-item {
    width: 20%;
    display: flex;
    height: 100%;
    color: $secondary-color;
  }

  .anchor-nav-link-item:hover {
    color: $secondary-color;
    border-bottom: 3px solid $secondary-color;
    box-sizing: border-box;
  }
  .annchor-toggle-icon {
    align-self: baseline;
  }
  .navbar-nav {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .nav-item {
      font-weight: 600;
      font-size: 20px;
      text-transform: capitalize;
      align-self: center;
    }
    .active-nav-item {
      color: $secondary-color;
      border-bottom: 3px solid $secondary-color;
      box-sizing: border-box;
    }
  }
}
@media #{$sm-scren} {
  .anchor-navbar {
    height: auto;

    .anchor-nav-link-item {
      width: 35%;
      justify-content: center;
      height: 35px;

      .nav-item {
        font-size: 15px;
      }
    }
  }
}
