@import "../../../../../styles/variables";

.ProjectDetails {
  .CustomSections {
    padding-top: 0;

    .CustomSection {
      h3 {
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
        line-height: 1.43;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.-architecture {
    border-bottom: 1px solid $warm-grey-two;
  }

  .community {
    background: $secondary-color-very-light;
    padding: 20px;
  }
}
