// TODO: get rid of this
.flex-title {
  height: 10%;
}
.flex-content {
  height: 90%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-30 {
  height: 30%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-60 {
  height: 60%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-90 {
  height: 90%;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-20 {
  height: 20%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-25 {
  height: 25%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-50 {
  height: 50%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-40 {
  height: 40%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.flex-content-100 {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
// end of TODO

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}
.flex-8 {
  flex: 8;
}
.flex-11 {
  flex: 11;
}
.flex-19 {
  flex: 19;
}

.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
  width: 10%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 10%;
    float: left;
  }
}
