@import "fonts";
@import "variables";

a {
  text-decoration: none;
  color: #294a70;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.margin-top {
  margin-top: 35px;
}

.mg-top-15 {
  margin-top: 15px;
}