.user-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/auth-user-icon.png");
  background-size: 15px;
  background-repeat: no-repeat;
}

.email-icon {
  height: 15px;
  width: 15px;
  top: 20px;
  background: url("./assets/images/auth-mail-icon.png");
  background-size: 13px;
  background-repeat: no-repeat;
}

.password-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/auth-password-icon.png");
  background-size: 12px;
  background-repeat: no-repeat;
}
.icon-doc-archive {
  display: block;
  height: 50px;
  margin: 0px auto;
  width: 50px;
  background: url("./assets/images/ic-doc-archive.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.icon-doc-file {
  display: block;
  height: 50px;
  margin: 0px auto;
  width: 50px;
  background: url("./assets/images/ic-doc-single-folder.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.icon-doc-checked {
  display: block;
  height: 25px;
  margin: 0px auto;
  width: 25px;
  background: url("./assets/images/ic-doc-checked.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}

.icon-doc-unchecked {
  display: block;
  height: 25px;
  margin: 0px auto;
  width: 25px;
  background: url("./assets/images/ic-doc-unchecked.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}

.money-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-attach-money.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.handout-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-handout.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.settings-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-settings-gear.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.preferences-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-preferences.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.terms-doc-icon {
  float: right;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-terms-doc.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.lock-icon {
  margin: 0px auto;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-lock.svg");
  background-size: 20px;
  background-repeat: no-repeat;
}
.profile-user-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-profile-user.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.profile-badge-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-badge.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.profile-business-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-business.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.profile-certified-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-certified.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.profile-world-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-world.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.profile-coop-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-coop.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.wallet-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-wallet.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.beneficiary-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-beneficiary.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.investor-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-investor.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}
.developer-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-developer.svg");
  background-size: 17px;
  background-repeat: no-repeat;
}

.profile-edit-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/ic-edit.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  align-self: center;
}
.profile-add-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/ic-add.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  align-self: center;
}
.profile-settings-icon {
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-setting.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  align-self: center;
}
.search-icon {
  height: 20px;
  width: 20px;
  background: url("./assets/images/ic-search-glass.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  align-self: center;
}
.location-icon {
  height: 11px;
  width: 10px;
  background: url("./assets/images/ic-location-min.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  align-self: center;
}
.watch-icon {
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-watch.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  align-self: center;
}
.info-icon {
  height: 8px;
  width: 8px;
  background: url("./assets/images/ic-info.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  align-self: center;
}
