.user-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/auth-user-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.email-icon {
  height: 15px;
  width: 15px;
  top: 20px;
  background: url("./assets/images/auth-mail-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.password-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/auth-password-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-doc-archive {
  display: block;
  height: 50px;
  margin: 0px auto;
  width: 50px;
  background: url("./assets/images/ic-doc-archive.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-doc-file {
  display: block;
  height: 50px;
  margin: 0px auto;
  width: 50px;
  background: url("./assets/images/ic-doc-single-folder.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-doc-checked {
  display: block;
  height: 25px;
  margin: 0px auto;
  width: 25px;
  background: url("./assets/images/ic-doc-checked.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-doc-unchecked {
  display: block;
  height: 25px;
  margin: 0px auto;
  width: 25px;
  background: url("./assets/images/ic-doc-unchecked.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.money-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-attach-money.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.handout-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-handout.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.settings-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-settings-gear.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.preferences-icon {
  float: left;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-preferences.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.terms-doc-icon {
  float: right;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-terms-doc.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.lock-icon {
  margin: 0px auto;
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-lock.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-user-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-profile-user.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-badge-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-badge.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-business-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-business.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-certified-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-certified.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-world-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-world.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-coop-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-coop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.wallet-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-wallet.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.beneficiary-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-beneficiary.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

//TODO: replace solar icon with better quality one
.solar-panel-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-solar-panel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.flag-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.investor-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-investor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.developer-icon {
  height: 18px;
  width: 18px;
  background: url("./assets/images/ic-developer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-edit-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/ic-edit.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-add-icon {
  height: 15px;
  width: 15px;
  background: url("./assets/images/ic-add.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.profile-settings-icon {
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}
.is-active {
  .profile-settings-icon {
    height: 25px;
    width: 25px;
    background: url("./assets/images/ic-something.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
  }
}

.search-icon {
  height: 20px;
  width: 20px;
  background: url("./assets/images/ic-search-glass.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.location-icon {
  height: 11px;
  width: 10px;
  background: url("./assets/images/ic-location-min.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.watch-icon {
  height: 25px;
  width: 25px;
  background: url("./assets/images/ic-watch.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.info-icon {
  height: 8px;
  width: 8px;
  background: url("./assets/images/ic-info.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.navbar-toggler-icon {
  height: 30px;
  width: 30px;
  background: url("./assets/images/ic-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
}