$primary-font: "AvenirNext", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$multiplier: 1;
$pixel-base: 8px * $multiplier;
$base-font: 16px * $multiplier;

$primary-color: #f5911e;
$primary-color-light: #f5a623;
$secondary-color: #4a4a4a;
$secondary-color-light: #767676;
$secondary-color-lighter: #aaaeb3;
$secondary-color-very-light: #ededed;
$third-color: #294a70;
$third-color-light: #2961a2;
$third-color-lighter: #4a90e2;
$status-color: #417505;
$charcoal-grey: #474b4f;
$charcoal-grey-two: #393c40;
$charcoal-grey-three: #393a3c;
$pale-grey: rgba(245, 246, 248, 0.48);
$grey-light: #ecedef;
$warm-grey: #9b9b9b;
$warm-grey-two: #979797;
$white: #ffffff;
$white-three: #f3f3f3;
$error-color: #d0021b;

// media screen sizes
$xs-screen: "(max-width: 575px)";
$sm-screen: "only screen and (max-width: 768px)";
$smd-screen: "(max-width: 990px)";
$md-screen: "(max-width: 1199px)";
$lg-screen: "(min-width: 1200px)";

//TODO: refactor and get rid of the unnecessary colors
$input-placeholder-color: rgba(74, 74, 74, 0.36);
$sidebar-subtitle-font-color: #686868;
$projects-location-color: #737578;
$sub-navigation-font-action: #9e9e9e;
$sub-navigation-background: #d8d8d8;
$anchor-navigation-background: #f6f7f7;
$project-content-background: #f0eeee;
$profile-navbar-background: #f6f7f7;
$explore-location: #b8babc;
$profile-navbar-border: #dfdddd;
$projects-background: rgba(0, 0, 0, 0.07);
$input-color-light: #c6c9cf;
$input-color-lighter: #dfe1e3;
$input-color-active-slider: #b3b6bb;
$pale-grey: #ecedef;
