$primary-color: #f5911e;
$primary-font-color: #f5a623;
$button-color: #f5a623;
$inverse-font-color: #fff;
$font-family: 'Nunito', sans-serif;
$background-color: #fff;
$input-placeholder-color: rgba(74, 74, 74, 0.36);

$sub-navigation-background: #d8d8d8;
$sub-navigation-font-color: #4a4a4a;
$sub-navigation-font-action: #9e9e9e;

$sidebar-background: #ededed;
$sidebar-font-color: #4a4a4a;
$sidebar-subtitle-font-color: #686868;

$projects-background: rgba(0, 0, 0, 0.07);
$projects-status-color: #417505;
$projects-location-color: #737578;
$projects-first-spec: #f5911e;
$projects-second-spec: #2961a2;

$auth-link-color: #393c40;