@import "../../styles/variables";

.UnderDevelopment {
  padding: 200px 0;

  img {
    display: block;
    height: 44px;
    margin: 0 auto 14px;
    width: 44px;
  }

  h2 {
    color: #F5A623;
    font-family: $secondary-font;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    line-height: 42px;
    margin-bottom: 14px;
  }

  p {
    display: block;
    color: #4A4A4A;
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
  }
}