.Slider {
    color: red;
    .slider-title {
        color: #aaaeb3;
        font-size: 12
    }
    .slider-container {
        height: 45px;
        
        .input-range__track {
            height: 6px;
        }
        
        .input-range__track--background{
            background: #dfe1e3;
        }
        
        .input-range__track--active {
            background: #b3b6bb;
        }
        
        .input-range__slider {
            background: #f5a623;
            border: 1px #f5a623;
        }
        .input-range__label--value {
            top: 5px;
        }    
    }
}

