@import "../../../styles/variables";

.ProgressBar {
  width: 100%;
  height: 5px;
  background: #d0cdcd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  .progress-tracker {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    background: $secondary-color;
    border-radius: 5px;
    transition: 0.15s;
  }
}