@import "../../../../styles/variables";

.ProjectContent {
  .title {
    font-size: 34px;
    color: $secondary-color;
    font-weight: 500;
    padding-bottom: $pixel-base;
  }

  .text-description {
    padding: 20px;
  }

  .sub-title {
    font-size: 18px;
    color: $secondary-color;
    font-weight: 600;
    text-transform: capitalize;
  }

  .sub-desc {
    margin-top: $pixel-base;
    color: $secondary-color;
    font-size: 16px;
  }
  .sub-text {
    margin-top: $pixel-base;
    color: $secondary-color;
    font-size: 14px;
    padding-top: $pixel-base;
    padding-bottom: $pixel-base;
  }

  .sub-image {
    width: 100%;
    margin-top: $pixel-base;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .link-to-text {
    margin: $pixel-base * 5 0 $pixel-base * 2 0;
    a {
      font-size: 17px;
      font-weight: 600;
    }
  }

  .grid-title {
    color: $secondary-color;
    text-transform: capitalize;
    height: 20%;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: $pixel-base;
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
  }

  .grid-body {
    background: $project-content-background;
    padding: $pixel-base * 2;
    font-family: $secondary-font;

    .grid-body-content {
      font-size: 24px;
      font-weight: 300;
      color: $secondary-color;
    }
    .grid-body-description {
      font-size: 10px;
      color: $secondary-color-lighter;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  .project-table {
    margin-top: 5px;

    table {
      border-spacing: 0px;

      .thead-white {
        background: $white;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2px;
        color: $secondary-color;

        th {
          vertical-align: middle;
          border: none;
        }
      }
      .tbody-white {
        font-family: $secondary-font;
        font-size: 18px;
        font-weight: 300;
        color: $charcoal-grey-two;
      }
    }
  }

  .component-title {
    font-size: 24px;
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 18px;

    span {
      font-weight: bold;
    }
  }

  @import "./Terms/Terms.scss";
  @import "./Overview/Overview.scss";
  @import "./ProjectDetails/ProjectDetails.scss";
  @import "./Forecast/Forecast.scss";
  @import "./Documents/Documents.scss";
  @import "./Invest/Invest.scss";
}
