@import "../../../../styles/variables";

.ProjectContent {
  .title {
    font-size: 25px;
    color: $sidebar-font-color;
    font-weight: 500;
  }

  .text-description {
    padding: 20px;
  }

  .sub-title {
    font-size: 16px;
    color: $sidebar-font-color;
    font-weight: 600;
    text-transform: capitalize;
  }

  .sub-text {
    margin-top: 10px;
    color: $sidebar-font-color;
    font-size: 13px;
  }

  .pd-sub-text {
    padding: 10px;
    color: $sidebar-font-color;
    font-size: 13px;
  }

  .sub-image {
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .grid-title {
    color: $sidebar-font-color;
    font-size: 15px;
    text-transform: capitalize;
    height: 20%;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 14px;
  }

  .grid-body {
    background: $project-content-background;
    padding: 15px;

    .grid-body-content {
      font-size: 22px;
      font-weight: 200;
      color: $sidebar-font-color;
    }
    .grid-body-description {
      font-size: 8px;
      color: #aaaeb3;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .project-table {
    margin-top: 5px;

    table {
      .thead-white {
        background: white;
        text-transform: uppercase;
        font-size: 10px;
        color: $sidebar-font-color;

        th {
          vertical-align: middle;
          border: none;
        }
      }
      .tbody-white {
        font-size: 15px;
        font-weight: 300;
        color: #393c40;
      }
    }
  }

  .component-title {
    font-size: 20px;
    color: $primary-font-color;
    text-transform: uppercase;

    span {
      font-weight: bold;
    }
  }

  @import "./Terms/Terms.scss";
  @import "./Overview/Overview.scss";
  @import "./ProjectDetails/ProjectDetails.scss";
  @import "./Forecast/Forecast.scss";
  @import "./Documents/Documents.scss";
  @import "./Invest/Invest.scss";
}
