@import "../../../../styles/variables";

.ProfileNavBar {
  .profile-nav-info-section {
    .proile-nav-image {
      height: 119px;
      width: 119px;
      margin: auto;

      img {
        object-fit: cover;
        width: 100%;
        border-radius: 100%;
        cursor: pointer;
      }
      img:hover {
        opacity: 0.8;
      }
    }
    .profile-nav-user-name {
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: 16px;
      text-align: center;
      font-weight: 300;
      margin-top: 16px;
    }
  }

  .profile-nav-menu-section {
    margin-top: 16px;

    // Single menu item
    .ProfileNavItem {
      height: $pixel-base * 6;
      background: $profile-navbar-background;
      border-bottom: 2px solid $profile-navbar-border;
      color: $secondary-color;
      opacity: 0.76;
      display: flex;
      cursor: pointer;
    }
    .ProfileNavItem:hover {
      opacity: 0.8;
      color: $primary-color-light;
      box-shadow: 3px 0px 0px 0px $third-color-light;
      opacity: 1;
      .profile-menu-icon,
      .profile-menu-name {
        color: $third-color-light;
      }
    }
    .is-active {
      .ProfileNavItem {
        opacity: 0.8;
        color: $primary-color-light;
        box-shadow: 3px 0px 0px 0px $third-color-light;
        font-weight: bold;
        opacity: 1;
        .profile-menu-icon,
        .profile-menu-name {
          color: $third-color-light;
        }
      }
    }

    .profile-menu-icon {
      width: 25%;
      height: 100%;
      line-height: 3;
      float: left;
      text-align: center;
      color: $secondary-color;
      display: flex;
      justify-content: center;
    }
    .profile-menu-name {
      width: 75%;
      line-height: 3.5;
      float: left;
      text-transform: capitalize;
      font-size: 14px;
      align-self: center;
      color: $secondary-color;
    }
  }

  .profile-nav-progress-section {
    margin-top: $pixel-base * 7;
    text-align: center;
    color: $secondary-color;
    font-size: 14px;
    .profile-progress-percentage {
      margin-top: 5px;
    }
    .profile-progress-bar {
      border: 1px solid #979797;
      height: 11px;
      margin: 0px 10px 0px 10px;
      border-radius: 5.5px;
      .profile-progress-success {
        height: 100%;
        background: $primary-color;
        border-radius: 5.5px;
      }
    }
  }
}
