@import "../../../styles/variables";

.explore-wrapper {
  margin-top: $pixel-base * 3;
}
.Projects {
  margin-top:  $pixel-base * 4;

  .projects-box {
    margin-bottom: $pixel-base * 2;
  }
  .projects-box-explore{
    margin-bottom: $pixel-base * 4;
  }

  .projects-image-box {
    height: 210px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .projects-location-icon {
    float: left;
    margin-top: 2px;
    padding-left: $pixel-base * 2;
  }
  .specifics-box-no-mg{
    border-top: 2px solid $white;
    padding-bottom: $pixel-base * 2;
    font-family: $secondary-font;
  }
}
