@import "../../../styles/variables";

.Projects {
  margin-top: 32px;

  .projects-box {
    margin-bottom: 15px;
  }

  .projects-image-box {
    height: 210px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .projects-location-icon {
    float: left;
    margin-top: 2px;
    padding-left: 16px;
  }
}
