@import "../../../styles/variables";

.explore-wrapper {
  margin-top: $pixel-base * 3;
}
.Projects {
  margin-top:  $pixel-base * 4;

  .projects-box {
    margin-bottom: $pixel-base * 2;
  }

  .projects-image-box {
    height: 210px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .projects-location-icon {
    float: left;
    margin-top: 2px;
    padding-left: $pixel-base * 2;
  }
}
