.Overview {
  margin-top: 35px;
  .title-yellow {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: $pixel-base * 4;
  }

  .summary {
    margin-top: $pixel-base * 4;
  }

  .full-image {
      margin-top: 55px;
      width: 100%;
      img {
        width: 100%;
      }
  }
  .context{
      padding: 45px;
      background: $project-content-background;

      .context-map-image {
        display: flex;
        justify-content: center;

        img {
          max-height: 178px;
          max-width: 291px;
        }
      }
  }
}
