@import "../../../../../styles/variables";

.Overview {
  padding-top: 47px;

  .Title {
    margin-bottom: 70px;
  }

  .overview-separator {
    margin: $pixel-base * 8 0 $pixel-base * 3 0;
    border-bottom: 1px solid silver;
  }
  .title-yellow {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: $pixel-base * 4;
  }

  .summary-grid {
    margin-bottom: 87px;
  }

  .full-image {
    background-size: cover;
    background-position: center;
    height: 459px;
    margin-bottom: 35px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .context {
    padding: 45px 0 20px;
    background: $project-content-background;

    .CustomSections {
      .CustomSection {
        h3 {
          margin-bottom: 0;
        }

        p {
          font-size: 14px;
          line-height: 1.43;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .opportunity-sub-image{
    height: 320px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .obligator-pannel{
    margin-top: $pixel-base * 11;
    color: $secondary-color;
    font-family: $secondary-font;

    .obligator-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: $pixel-base *2;
    }
    .obligator-text {
      font-size: 16px;
    }
  }
}
