.Overview {
  margin-top: 35px;
  .title-yellow {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }

  .summary {
    margin-top: 30px;
  }

  .full-image {
      margin-top: 55px;
      width: 100%;
      img {
        width: 100%;
      }
  }
  .context{
      padding: 45px;
      background: $project-content-background;
  }
}
