@import "../../styles/variables";

.ExploreComponent {
  padding: 25px 0 25px 0;

  .projects-description-box {
    background: $projects-background;
    padding: 15px;

    .desc-status {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      color: $status-color;
      margin-bottom: $pixel-base;
    }

    .desc-title {
      color: $primary-color;
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
      text-transform: capitalize;
      a {
        color: $primary-color;
      }
    }
    .desc-title:hover {
      opacity: 0.7;
    }

    .desc-location {
      font-size: 11px;
      font-weight: 600;
      color: $projects-location-color;
      font-family: $secondary-font;
      margin-bottom: $pixel-base;
    }

    .desc-category {
      color: $explore-location;
      font-size: 12px;
      font-weight: 600;
      font-family: $secondary-font;
      margin-bottom: $pixel-base;
    }

    .desc-category-separator{
      border-bottom: 2px solid $white;
      padding-bottom: $pixel-base / 2;
    }

    .desc-description {
      color: $secondary-color;
      min-height: 160px;
      span {
        font-weight: 500;
        font-size: 13px;
      }
      ul {
        margin: $pixel-base * 2 0 $pixel-base * 2 0;
        font-size: 12px;
        li {
          line-height: 16px;
        }
      }
    }
  }
  
  .watch-button-explore {
    position: absolute;
    border: none;
    background: none;
    width: -moz-fit-content;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.25s;
    bottom: 8px;
    left: 8px;
    &:hover {
      opacity: 0.5;
    }
  }
}
