@import "../../../styles/variables";

.ProjectsTools {
  .toolparts {
    margin-bottom: $pixel-base;
  }
  .toolparts-3 {
    margin-bottom: $pixel-base * 3;
  }
  .toolparts-4 {
    margin-bottom: $pixel-base * 4;
  }

  .tool-default {
    height: $pixel-base * 5;
    background-color: #e5e6ea;
    margin-bottom: $pixel-base;
    color: $secondary-color;

    div {
      border: none;
      border-radius: 0;
      background-color: #e5e6ea;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      padding-left: $pixel-base;
      color: $secondary-color;
    }
    .css-d8oujb,
    .css-19bqh2r {
      display: none;
    }
    .css-1wy0on6 {
      width: $pixel-base * 5;
      justify-content: center;
      .css-1ep9fjw {
        height: 8px;
        width: 8px;
        background: url("../../../assets/images/ic-rectangle.svg");
        background-size: 8px;
        background-repeat: no-repeat;
        align-self: center;
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $secondary-color;
  }

  .sub-title {
    color: $sidebar-subtitle-font-color;
    border-bottom: 2px solid $warm-grey;

    .tools-sub-header {
      padding: 0 0px 8px 16px;
      color: $secondary-color;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .box {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    background: $secondary-color-very-light;
  }

  .location-box {
    .separator {
      margin-bottom: $pixel-base * 2;
    }
    .location-result {
      height: $pixel-base * 5;
      border-left: 6px solid $primary-color;
      font-size: 13px;
      line-height: $pixel-base * 5;
      padding-left: $pixel-base * 2;
    }
  }
  .project-filters-box {
    padding: $pixel-base * 2;

    .filters-sub-header {
      text-transform: uppercase;
      color: $secondary-color;
      font-size: 12px;
      font-weight: 600;
      padding-left: $pixel-base * 2;
      margin-bottom: $pixel-base * 2;
    }
    .filters-sub-content {
      padding-left: $pixel-base * 2;
      margin-bottom: $pixel-base * 2;
    }
  }
}
