
@import './styles/fonts';
@import './styles/variables';
@import './styles/bootstrap';
@import './styles/default';
@import './styles/components';
@import './styles/icons';
@import './styles/customflex';


body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $primary-font;
}
