
@import './styles/fonts';
@import './styles/variables';
@import './styles/default';
@import './styles/components';
@import './styles/bootstrap';


body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family;
}
