@import "../../styles/variables";

.InvestorComponent {
  padding: $pixel-base * 14 0 0;

  .container-title {
    font-family: $primary-font;
    font-size: $base-font * 2;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
    margin: 0;
  }

  .title-primary {
    font-family: $primary-font;
    font-size: $base-font * 1.5;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary-color;
    margin: 0 0 $pixel-base;
  }

  .title-container {
    padding-bottom: $pixel-base * 4;

    &.-border {
      border-bottom: 1px solid $secondary-color;
    }
  }

  .profile-section {
    padding: $pixel-base * 6 0 $pixel-base * 10.5;
    margin-bottom: $pixel-base * 6;
    background: #fff;

    .user-card-wrapper {
      @media (max-width: 991px) {
        margin-top: $pixel-base * 2;
      }
    }

    .user-card {
      max-width: 290px;
      margin: 0 auto;
      height: 100%;

      .user-card-header {
        display: flex;
        align-items: center;
        margin-bottom: $pixel-base * 2.25;

        img {
          width: 23px;
          height: 23px;
          margin-right: $pixel-base * 2;
        }

        h4 {
          font-family: $secondary-font;
          margin: 0;
          font-size: $base-font * 0.625;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          color: $charcoal-grey-two;
        }
      }

      .user-card-content {
        background: #f3f3f3;
        height: calc(100% - 40px);

        div {
          width: 100%;
          padding: $pixel-base * 2 $pixel-base * 3;

          &:not(:last-child) {
            border-bottom: 1px solid $grey-light;
          }
        }

        h4 {
          font-family: $secondary-font;
          font-size: $base-font * 1.5;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $charcoal-grey-two;
        }

        p {
          font-family: $secondary-font;
          font-size: $base-font * 0.625;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          color: $secondary-color-light;
        }
      }
    }
  }

  .projects-section {
    padding: $pixel-base * 6 0 $pixel-base * 10.5;
    background: #fff;

    .media-right {
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .media-left {
      background: $grey-light;
      padding: $pixel-base * 1.5 $pixel-base * 2;

      .watch-button {
        position: absolute;
        right: 8px;
        top: 8px;
        border: none;
        background: none;
        width: fit-content;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.25s;

        &:hover {
          opacity: 0.5;
        }
      }

      h5 {
        font-family: $primary-font;
        font-size: $base-font * 0.75;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $secondary-color;
        margin: 0 0 $pixel-base * 1.5;
      }

      h6 {
        font-family: $secondary-font;
        font-size: $base-font * 0.75;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #737578;
        margin: 0 0 $pixel-base * 1.5;
      }

      .flexbox {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        margin: 0 0 $pixel-base * 2;
        padding: 0 0 $pixel-base * 0.5;

        &.-alt {
          padding: 0 0 $pixel-base * 2;
        }

        &.-no-spacing {
          border: none;
          margin: 0;
        }

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: $pixel-base * 2;
        }

        h4 {
          font-family: $primary-font;
          font-size: $base-font * 0.875;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $secondary-color;
          margin:  0;
        }

        p {
          font-family: $primary-font;
          margin: 0;
          font-size: $base-font * 0.75;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $warm-grey;
        }

        button {
          font-family: $primary-font;
          background: transparent;
          border: none;
          margin-left: auto;
          font-size: $base-font * 0.75;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $warm-grey;
        }
      }

      p {
        font-family: $primary-font;
        font-size: $base-font * 0.875;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: rgba(74, 74, 74, 0.98);
        margin: 0 0 $pixel-base * 3;
      }

      ul {
        margin: 0 0 $pixel-base * 2;
        padding:  0 0 0 $pixel-base * 2;

        li {
          font-family: $primary-font;
          margin: 0 0 $pixel-base;
          font-size: $base-font * 0.75;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: rgba(74, 74, 74, 0.98);
        }
      }

      .owner {
        font-family: $primary-font;
        font-size: $base-font * 0.75;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $secondary-color;
        margin:  0 0 $pixel-base;
      }
    }

    .progress-bar-container {
      position: relative;
      margin: 0 0 $pixel-base * 2;

      p {
        font-family: $secondary-font;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;

        &.progress-donated {
          color: $charcoal-grey-two;
          font-size: $base-font * 1.065;
        }

        &.progress-total {
          font-size: $base-font * 1.065;
          margin-left: auto;
          color: $secondary-color-lighter;
          font-weight: 300;
        }
      }
    }

    .stats {
      width: 100%;
      padding: 0 $pixel-base;

      .stat-container {
        width: 25%;
        display: inline-block;
        text-align: left;
        padding: 0 $pixel-base * 0.5;

        h6 {
          font-family: $secondary-font;
          font-size: $base-font * 1.125;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $charcoal-grey-two;
        }

        p {
          font-family: $secondary-font;
          font-size: $base-font * 0.625;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          color: $secondary-color-lighter;
          margin:0;
        }
      }
    }
  }

  .details-container {
    background-color: #efeded;
    padding: $pixel-base * 4 0 $pixel-base * 6;

    h3 {
      text-align: center;
    }

    .sub-title {
      font-size: $base-font * 1.125;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $charcoal-grey-two;
      margin: 0 0 $pixel-base * 4.5;
    }

    .section-title {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $secondary-color;
      text-align: left;
      padding: 0 0 $pixel-base * 2;
      border-bottom: 1px solid $secondary-color-lighter;
    }
  }
}