@import "../../../styles/variables";

.DocumentationContainer {
  width: 12.5%;
  display: inline-block;
  padding: 0 $pixel-base;
  margin: 0 0 $pixel-base * 4;

  img {
    margin: 0 auto;
    display: block;
  }

  p {
    min-height: 44px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey-two;
    margin: $pixel-base * 2 0 $pixel-base * 4;
  }

  span {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $charcoal-grey-two;
    display: block;
  }
}