@import "../../styles/variables";

.AuthPage {
  .container {
    margin: 0;
    max-width: 100%;
  }
  .auth-image {
    background-image: url("../../assets/images/background-login.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
  }

  .auth-form {
    margin: 0px auto;
    text-align: center;
    .auth-form-container {
      height: 100%;
    }
  }

  .auth-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .auth-notice {
    color: $auth-link-color;
    font-size: 12px;
  }

  .auth-button {
    width: 139px;
    margin: 0px auto;
  }
}
