@import "../../../styles/variables";

.sub-navbar {
  background: $sub-navigation-background;
  padding: 0;
  min-height: $pixel-base * 3;

  .navbar-nav {
    margin: 0;
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100%;

    .navigation-link {
      display: flex;
    }

    a {
      position: relative;

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left:0;
        bottom: 0;
        height: 2px;
        background: $primary-color-light;
        opacity: 0;
        transition: 0.1s;
      }
    }

    a:hover {
      color: $primary-color-light;

      &:after {
        opacity: 1;
      }
    }

    .is-active {
      color: $primary-color-light;

      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left:0;
        bottom: 0;
        height: 3px;
        background: $primary-color-light;
        opacity: 1;
        transition: 0.1s;
      }
    }
    .nav-item {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      width: 111px;
      margin: 0px 4px;
      color: $secondary-color;
      padding-left: $pixel-base * 2;
      padding-right: $pixel-base * 2;
    }
  }
}
