@import "../../../styles/variables";

.sub-navbar {
  background: $sub-navigation-background;
  padding: 0;
  min-height: $pixel-base * 3;

  .navbar-nav {
    margin: 0;
    display: flex;
    justify-content: center !important;
    align-items: center;
    height: 100%;

    .nav-item {
      padding: 0px $pixel-base 0px $pixel-base;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;

      a {
        color: $secondary-color;
        padding-left: $pixel-base * 2;
        padding-right: $pixel-base * 2;
      }

      a:hover {
        color: $primary-color-light;
        border-bottom: 2px solid $primary-color-light;
        box-sizing: border-box;
      }
      .is-active {
        color: $primary-color-light;
        border-bottom: 2px solid $primary-color-light;
        box-sizing: border-box;
      }
    }
  }
}
