@import "../../../styles/variables";

.Projects {
  margin-top: 32px;

  .projects-box {
    margin-bottom: 15px;
  }
  
  .projects-image-box {
    height: 210px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  .projects-description-box {
    background: $projects-background;
    padding: 15px;

    .desc-status {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400;
      color: $projects-status-color;
      margin: 0 0 12px;
    }

    .desc-title {
      color: $primary-font-color;
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
      text-transform: capitalize;
    }

    .desc-location {
      font-size: 11px;
      color: $projects-location-color;
    }

    .desc-category {
      color: #aaaeb3;
      font-size: 12px;
    }

    .desc-description {
      color: $sub-navigation-font-color;
      font-size: 13px;
    }

    .specifics-box {
      border-top: 1px solid white;
      padding: 10px 0 10px 0;

      .spec-cont {
        font-size: 18px;
        font-weight: 300;
      }
      .spec-desc {
        text-transform: uppercase;
        font-size: 10px;
      }
      .-first {
        color: $projects-first-spec;
      }
      .-second {
        color: $projects-second-spec;
      }

      .spec-first-price {
        font-size: 12px;
        color: $sub-navigation-font-color;
      }
      .spec-second-price {
        font-size: 12px;
        color: #aaaeb3;
        text-align: right;
      }
    }
  }
}
